html{
    scroll-behavior: smooth;
}

body{
    background-color: #22223b;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
}

header {
    background-color: #4a4e69;
    color: white;
    border: black 2px solid;
    text-align: left;
    padding: 10px 0;
    padding-top: 20px; margin-top: -50px;
    padding-left: 50px; margin-left: -50px;
    padding-right: 50px; margin-right: -50px;
}

.fa{
    font-size: fa-10x;
    color: #f2e9e4;
    margin-right: 20px;
    --fa-display: inline-block;
    --fa-align-items: right;
    float: right;
    text-decoration: none;
}

.fa:hover {
    color: #c9ada7; /* change color on hover */
    cursor: pointer;
}

.hidden {
  display: none;
}

#nav-menu {
  padding: 10px;
  margin-top: 10px;
  text-align: center;
}

p {
    color: #f2e9e4;
    line-height: 1.6;
}

h1, h2, h3 {
    color: #c9ada7;
}

.hheader{
    text-align: right;
}

.hhheader{
    text-align: right;
    margin-right: 50px;  
}


#menu-toggle {
    font-size: 1.2rem;
    display: flex;
    background: none;
    border:#22223b 2px solid;
    cursor: pointer;
}

.sidebar {
  position: fixed;
  top: 81px;
  left: -250px;
  width: 120px;
  height: 100%;
  background-color: #40435b;
  color: white;
  padding: 1rem;
  transition: left 0.3s ease;
  z-index: 1000;
}

.sidebar ul {
  list-style: none;
  padding: 0;
  margin-top: 0;

}

.sidebar a {
  color: #f2e9e4;
  text-decoration: none;
  display: block;
  padding: 10px 0;
  font-weight: bold;
  transition: color 0.3s ease;
  
}

.sidebar.show {
  left: 0; /* slides it in */
}

.sidebar a:hover {
  color: #c9ada7; /* change color on hover */
}

.page-content {
  transition: transform 0.3s ease;
}

.shifted {
  transform: translateX(130px); /* same width as your sidebar */
}

.cshifted{
  transform: translateX(-10px); /* same width as your sidebar */
}

.welcome{
    text-align: center;
    margin-top: 20px;
}


