html{
    scroll-behavior: smooth;
    max-width: 100%;
    overflow-x: hidden;
}

body{
    background-color: #22223b;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
}

header {
    background-color: #4a4e69;
    border: black 2px solid;
    text-align: left;
    padding: 10px 0;
    padding-top: 20px; margin-top: -50px;
    padding-left: 50px; margin-left: -50px;
    padding-right: 50px; margin-right: -50px;
}

.hheader{
    font-size: 1.5rem;
    text-align: center;
}

.fa{
    font-size: fa-24px;
    color: #f2e9e4; 
    margin-right: 20px;
    margin-top: 30px;;
    --fa-display: flex;
    float: right;
    text-decoration: none;
}

img {
    height: auto;
    max-width: 200px;
    margin: 50px auto;
    margin-bottom: 10px;
    display: block;
    align-items: center;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.fa:hover {
    color: #c9ada7; /* change color on hover */
    cursor: pointer;
}

p {
    color: #f2e9e4;
    line-height: 1.8;
}

h1, h2, h3 {
    color: #c9ada7;
}

.welcome{
    text-align: center;
    margin-top: 20px;
}

nav{
    text-align: center;
    
}

.navbar{
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.navbar li{
    display: inline-block;
    padding: 10px;
}

a{
    color: #f2e9e4;
    text-decoration: none;
    font-weight: bold;
}

a:hover {
  color: #c9ada7; /* change color on hover */
}

.pricing-list{
    color: #f2e9e4;
    padding-left: 1.5rem;
}

.pricing-list li{
    line-height: 1.8;
}

.project-list{
    color: #f2e9e4;
    padding-left: 1.5rem;
}

.project-list li{
    color: #f2e9e4;
}

footer {
    background-color: #4a4e69;
    border: black 2px solid;
    text-align: center;
    padding-left: 50px; margin-left: -50px;
    padding-right: 50px; margin-right: -50px;
    margin-bottom: -50px;
}


